<h1>Discover Movies!</h1>

#POWEROUT acc to chatgpt, top_rated is a common search term for APIs or something (look this shit up when you have internet)
<%= button_to 'Discover Top Rated Movies', user_movies_path(@user), method: :get, params: { search: "top_rated" } %>

<%= form_with url: user_movies_path(@user), method :get, local: true do |f| %>
  <%= f.label :search_params, 'Enter a Movie Title' %>
  <%= f.text_field :search_params %>
  <%= f.submit 'Search' %>
<% end %>